//@import '../../../shared/css/vars';
//@import '../../../../node_modules/tippy.js/dist/tippy.css';
//@import '~antd/dist/antd.css';

:host {

	.inner-react-component {
		color: green;
		padding: 20px;
		border-radius: 4px;
		border: 3px dashed green;

        button {
            margin: 0 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
	}
}
